<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Probleme din subiectele de anii trecuti, rezolvate de Chat GPT-3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Probleme din subiectele de anii trecuti, rezolvate de Chat GPT-3
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>2017</h2>
      </ion-label>
    </ion-list-header>
    <app-message *ngFor="let exercise of getExercisesByYear(2017)" [exercise]="exercise"></app-message>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>2018</h2>
      </ion-label>
    </ion-list-header>
    <app-message *ngFor="let exercise of getExercisesByYear(2018)" [exercise]="exercise"></app-message>
  </ion-list>
</ion-content>